extends layout 

block content
    h1.heading= title 

    ul 
        each genre in genreList
            li
                a(href=genre.url) #{genre.name} 
        else 
            li There are no Genres